<div class="row" style="margin-top:150px;margin-left:150px;">
    <div class="row" style="text-align:center">
        <div class="col-md-3" style="margin-left:300px;">
            <h2>Welcome Donor!</h2>
        </div>
        <div class="col-md-3" style="margin-top:20px;">
            <button class="btn btn-danger btn-sm" ng-click="Logout()">Logout</button>
        </div>
    </div>
    <br />
    <form ng-submit="Search(Receiver)">
        <div class="row">
            <div ng-if="showTable">
                <table class="table table-bordered table-responsive table-hover table-striped" ng-if="receiverArray.length>0">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Address</td>
                            <td>Blood Group</td>
                            <td>Contact Number</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in receiverArray">
                            <td>{{item.Name}}</td>
                            <td>{{item.Address}}</td>
                            <td>{{item.BloodGroup}}</td>
                            <td>{{item.Contact}}</td>
                            <td><button class="btn btn-success btn-sm" ng-click="Donate(item.id);">Donate</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
			<div ng-if="receiverArray==0||receiverArray==null">
				<div style="margin-left:300px;"><label>No Requests Found...</label></div>
			</div>
        </div>
    </form>
</div>
