<div class="row" style="margin-top:150px;margin-left:150px;">
    <div class="row" style="text-align:center">
        <div class="col-md-3" style="margin-left:300px;">
            <h2>Welcome User!</h2>
        </div>
        <div class="col-md-3" style="margin-top:20px;">
            <button class="btn btn-danger btn-sm" ng-click="Logout()">Logout</button>
        </div>
    </div>
    <br />
    <form ng-submit="Search(Receiver)">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-3" style="padding-top:5px;border-radius:7px;">
                    <label>Name</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="Receiver.Name" class="form-control" style="width:200px" required />
                </div>
            </div>

            <div class="col-md-5">
                <div class="col-md-5" style="padding-top:5px;border-radius:7px;">
                    <label>Blood Group</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="Receiver.BlGroup" class="form-control" style="width:200px" required />
                </div>
            </div>
            <div class="col-md-3">
                <input type="submit" value="Search" class="btn btn-success" data-toggle="modal" data-target="#receiverModal" />
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" ng-click="Clear()" type="reset" style="font-size:10px;width:136px;">Clear Previous Requests</button>

            </div>
        </div>
        <br />
        <label>Currently there are {{receiverCount}} request(s) requested by you...</label>
    </form>
    <br />
    <br />
    <div ng-if="showTable">
        <table class="table table-bordered table-responsive table-hover table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Blood Group</td>
                    <td>Contact Number</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aninda</td>
                    <td>Bangalore</td>
                    <td>AB+</td>
                    <td>91 8697344171</td>
                </tr>
                <tr>
                    <td>Susweta</td>
                    <td>Hyderabad</td>
                    <td>AB+</td>
                    <td>91 9535180915</td>
                </tr>
                <tr>
                    <td>Harry</td>
                    <td>Mumbai</td>
                    <td>AB+</td>
                    <td>91 8756647364</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="receiverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <center>
                        <h2>Donor List</h2>
                    </center>
                </div>
                <div class="modal-body">
                    <center>
                        <label>Currently there are {{availableDonors}} Donor(s) available</label>
                        <div class="row">
                            <form ng-submit="requestBlood()">
                                <input type="submit" value="Request" class="btn btn-info" />
                            </form>
                        </div>
                    </center>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

